*{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}

p{
    font-size: 15px;
    line-height: 25px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    color: white;
}
.card1{
    padding-left: 50px;
    background-color: hsl(31, 77%, 52%);
    padding-right: 50px;
}

.card2{
    padding-left: 50px;
    padding-right: 50px;
    background-color: darkcyan;
}
.card3{
    padding-left: 50px;
    background-color: hsl(184, 100%, 22%);
    padding-right: 50px;
}
h2{
    margin-bottom: 15px;
    font-size: 30px;
}
.logo1{
    margin-bottom: 30px;
    margin-top: 30px;
}
button{
    margin-top: 80px;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 1px solid white;
    cursor: pointer;
}
.btn1{
    background-color: white;
    color: orangered;
    padding: 7px;
}
.btn2{
    background-color: white;
    color: darkcyan;
    padding: 7px;
}
.btn3{
    background-color: white;
    color: darkgreen;
    padding: 7px;
}
.btn1:hover{
    background: orangered;
    color: white;
}
.btn2:hover{
    background: darkcyan;
    color: white;
}
.btn3:hover{
    background: darkgreen;
    color: white;
}
@media screen and (max-width:600px){
    .container{
        flex-direction: column;
    }
}